In [2]:
%load_ext autoreload
%autoreload 2

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
import pandas as pd
import numpy as np
import random
import torch
import transformers
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# read full data
df = pd.read_csv('../data.csv')
df.head()

,Business,item_name,category1_tag_id,l1,category2_tag_id,l2
0,Smart & Final,E & J Brandy Apple (750 ml),1024,Alcohol,1040,Liquor
1,Smart & Final,Fairbanks Cream Sherry California (1.5 L),1024,Alcohol,1040,Liquor
2,Smart & Final,Augustine Brandy Premium (1.75 l),1024,Alcohol,1040,Liquor
3,Smart & Final,E & J Brandy VS Original (750 ml),1024,Alcohol,1040,Liquor
4,Smart & Final,E&J VSOP Brandy (1.75lt),1024,Alcohol,1040,Liquor

In [11]:
df.l1.value_counts()

Personal Care    19344
Pantry           13594
Household         8037
Snacks            7796
Drinks            7620
Vitamins          5965
Frozen            5482
Alcohol           5233
Dairy & Eggs      4224
Medicine          4050
Candy             3393
Bakery            2197
Meat & Fish       1708
Baby & Child      1688
Produce           1253
Pet Care          1180
Baby               921
Beauty             819
Fresh Food         564
Condiments         529
Name: l1, dtype: int64

In [12]:
df.Business.value_counts()

Walgreens               26013
Smart & Final           19991
Fresh Thyme             17708
Cub Foods               10888
Meijer Grocery           9087
CVS                      5801
Kroger                   2827
7-Eleven                 2779
Holiday Stationstore      503
Name: Business, dtype: int64

In [15]:
df[df["Business"] == "CVS"].l1.value_counts()

Personal Care    1430
Medicine          867
Household         821
Drinks            536
Candy             495
Snacks            438
Baby & Child      385
Pantry            317
Vitamins          251
Frozen            124
Dairy & Eggs       75
Pet Care           44
Bakery             15
Meat & Fish         3
Name: l1, dtype: int64

In [21]:
df[df["Business"].isin(["Kroger"])].l1.value_counts()

Pantry           519
Frozen           406
Drinks           338
Dairy & Eggs     303
Snacks           293
Meat & Fish      225
Produce          195
Household        146
Bakery           109
Baby & Child      80
Fresh Food        65
Personal Care     46
Pet Care          44
Candy             40
Medicine          16
Vitamins           2
Name: l1, dtype: int64